<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEhY6N5FmOyQkq-L56JeW6MyqyvM_nM34</string>
	<key>GCM_SENDER_ID</key>
	<string>864743960976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrew.com.Monthly-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>monthly-swiftui-dd3ca</string>
	<key>STORAGE_BUCKET</key>
	<string>monthly-swiftui-dd3ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864743960976:ios:2215c6a82529e986260315</string>
</dict>
</plist>